@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

code {
    background-color: #F1F1F1;
    padding: 0.3rem;
    font-family: monospace;
}

li {
    margin-bottom: 0.9rem;
}

.center {
    display: flex;
    justify-content: center;
}

.buttons {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.buttons>button {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
}

.buttons>button:hover {
    transform: scale(1.1);
}

.messageForm {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.messageForm>input:first-child {
    margin-bottom: 0.5rem;
}

.messageForm>input {
    transition: 0.3s ease all;
    text-align: center;
    background-color: #F1F1F1;
    padding: 1rem;
    border: none;
}

.messageForm>input:hover {
    transform: scale(1.1);
}
